/* Fontes do projeto */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

/* Styles do projeto */
@import url('/styles/header.css');
@import url('/styles/banner.css');
@import url('/styles/datas.css');
@import url('/styles/line-up.css');
@import url('/styles/footer.css');


:root{
    --branco:#ffffff;
    --cor-header-bg: #184A02;
    --bg-gradiente-main: linear-gradient(180deg, #6EB948 0%, #88AB76 52.6%, #5F7853 100%);

    --cor-font-header:#88AB76;
    --cor-click: #88AB76;

    --font-header:'Raleway';
    --font-banner: 'Calistoga', cursive;

    --sombra:#444444;

    
}

main{
    background: var(--bg-gradiente-main);
}

.flex__container{
    display: flex;
}

@media screen and (max-width: 1020px) {
    :root{
        font-size: 10px;
    }    
 }