footer{
    padding: 2rem 6rem;
    background-color: var(--cor-header-bg);    
    color: var(--branco);
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-header);    
    font-weight: 500;
    font-size: 20px;
}
.logo-contatos{
    flex-direction: column;
}
.footer-contato{
    align-items: center;
    column-gap: 1em;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    footer{
        padding: 4rem 0;
        flex-direction: column;
        row-gap: 4rem;              
    }
    
    .logo-footer{
        width: 60%;
        margin: 0 auto;
    }
    .logo-contatos{
        row-gap: 4rem;  
    }
    .footer-contato{
        text-align: center;
        justify-content: center;
        row-gap: 1rem;
    }
    .footer-contato p{
        width: 100%;
    }
     
    
}