header{
    background-color: var(--cor-header-bg);
}
.logo-header:hover{
    transform: scale(1.02);
}
.nav-hamburguer{
    display: none;
}
.icone-nav-hamburguer{
    display: none;
}
#botao-nav{
    display: none;
}
.header__principal{
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}
.nav-normal{
    column-gap: 1.5rem;
    display: flex;
}
.nav-normal a{
    font-family: var(--font-header);
    font-weight: 700;
    font-size: 20px;    
    font-style: normal;
    color: var(--cor-font-header);
}
.nav-normal a:hover{   
    color: var(--branco);
}
@media screen and (max-width: 768px) {
    .header__principal{
        flex-direction: column;
        row-gap: 2rem;
    }
    
}
@media screen and (max-width: 400px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }
    .nav-normal{
        display: none;
    }
    .logo-header{
        width: 60%;
    }
    .icone-nav-hamburguer{
        display: block;
        padding-right: 2rem;
    }
    .header__principal{
        padding: 0;
    }
    #botao-nav:checked ~ .nav-hamburguer{
        display: flex;
    }
    .nav-hamburguer{
        position: absolute;
        flex-direction: column;
        right: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;      
        font-weight: 700;
        font-family: var(--font-header);
        align-items: center;
        background-color: var(--cor-header-bg);
        color: var(--branco);
        top: 79px;
        padding: 1rem;
    }
    .nav-hamburguer a{
        margin-bottom: 1em;
    }
}